---
import Container from './core/Container.astro';
const { id, ...rest } = Astro.props;
---

<section id={id} class="hero-header-section">
	<Container class="hero-header-container" {...rest}>
		<slot name="title" />
		<p><slot name="desc" /></p>
		<div class="chips-container">
			<slot name="chips" />
		</div>
	</Container>
</section>

<style>
	.hero-header-container {
		padding: 0;
		width: 100%;
		h1,
		p {
			padding: var(--container-padding);
		}
	}

	.hero-header-container :global(.chip) {
		color: var(--theme-on-container-gradient);
	}
	.hero-header-section {
		/*	background-color: var(--theme-primary-container-alt);*/
		background: var(--theme-gradient);
		padding: 0;
		padding: var(--s8) 0;
		text-align: center;
		color: var(--theme-on-container-gradient);
	}

	:global(.hero-section__remark) {
		background-image: linear-gradient(to right, #e8944b, #7a471b);
		background-clip: text;
		color: transparent;
	}

	.chips-container {
		display: flex;
		justify-content: center;
		gap: var(--s2);
		flex-wrap: wrap;
		padding-top: var(--s3);
	}

	@media (max-width: 768px) {
		.chips-container {
			overflow-x: auto;
			flex-wrap: nowrap;
			gap: var(--s2);
			padding-bottom: 0.5rem;
			/* Optional: hide scrollbar for Webkit browsers */
			-webkit-overflow-scrolling: touch;
			scrollbar-width: none;
		}
		.chips-container::-webkit-scrollbar {
			display: none;
		}
		.chips-container > * {
			flex: 0 0 auto;
		}
	}
</style>

<script>
	import { gsap } from 'gsap';

	document.addEventListener('astro:page-load', () => {
		const heroRef = document.querySelector('.hero-header-section');

		if (!heroRef) return;
		gsap.to(heroRef, {
			background:
				'linear-gradient(135deg, #0f766e 0%, #0891b2 50%, #0369a1 100%)',
			duration: 3,
			repeat: -1,
			yoyo: true,
			ease: 'sine.inOut',
		});
	});
</script>
