---
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import { getLangFromUrl } from '@i18n/utils';
import '@fontsource-variable/inter';
export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<BaseHead {...seo} />
	</head>

	<body>
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content" class="main-content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>

<style>
	.main-content {
		padding-top: var(--header-height);
	}
</style>
