---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '@layouts/Page.astro';
import NewsletterForm from '@components/forms/NewsletterForm.astro';
import { getLangFromUrl, getStaticLangPaths } from '@i18n/utils';
import { MarkdownInstance } from 'astro';
import { Frontmatter } from '@types';

const url = Astro.url;
const lang = getLangFromUrl(url);

const allPosts = Object.values(
	import.meta.glob<MarkdownInstance<Frontmatter>>('@pages/*/blog/posts/*.mdx', {
		eager: true,
	}),
);

console.log('allPosts', allPosts[0].frontmatter);
console.log('allPosts2', allPosts[0].url);

const posts = allPosts
	.filter(post => post.url?.startsWith(`/${lang}`))
	.map(({ frontmatter, url }) => ({
		title: frontmatter.title,
		description: frontmatter.description,
		authors: frontmatter.authors,
		publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
		featuredImage: frontmatter.featuredImage,
		excerpt: frontmatter.excerpt,
		href: url,
	}))
	.sort((a, b) => (isBefore(a.publishDate, b.publishDate) ? 1 : -1));

const seo = {
	title: 'Blog | Astro Odyssey Theme',
	description: 'Astro Odyssey Theme Blog Page',
};

export function getStaticPaths() {
	return getStaticLangPaths();
}
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Odyssey Blog</h1>
			<p>
				View our blog to stay up to date on the latest news about our business.
				Want to be the first to hear about a new blog post? Join our newsletter!
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
			<BlogPostsList {posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
